//Variables Code
$font: verdana;
$bgcolor: violet;
$border: gray dotted thick;
$center: center;
$size: 400px;

nav{
    text-align: $center;
     li{
        list-style-type: none;
     }
    a{
        font-family: $font;
        text-decoration: none;
    }
}

h1{
    text-align: $center;
     font-family: $font;
    }

h2{
    text-align: $center; 
    font-family: $font;
}
p{
    text-align: $center; 
    font-family: $font;
}

body{
    background-color: darken($bgcolor, 10%); 
    border: $border;
}
.wrapper{
    width: 1200px; 
    margin: 0 auto; 
    background-color: lighten($bgcolor, 20%);
}
img{
    width: $size; 
    height: $size; 
    border: $border;
}
.dogs{
    text-align: $center;
}


